[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ValCurvaR"]
	path = ValCurvaR
	url = https://github.com/isaquebrand/valcurvar
